{
    "info" : [
        "Amber protein forcefield for 147 non-canonical amino acids",
        "Khoury et al. (2014) ACS Synthetic Biology  DOI: 10.1021/sb400168u",
        "Khoury et al  (2013) J. Chem. Theory Comput. 9 (12) 5653-5674",
        "Parameters obtained from http://selene.princeton.edu/FFNCAA/files/ffncaa.zip"
    ], 
    "vdw_func" : "lj12_6_sig_epsilon", 
    "vdw_comb_rule" : "arithmetic/geometric", 
    "exclusions" : 4, 
    "es_scale" : [
        0.0,
        0.0,
        0.8333
    ], 
    "lj_scale" : [
        0.0,
        0.0,
        0.5
    ], 
    "plugins" : [
        "exclusions",
        "angles",
        "bonds",
        "propers",
        "impropers"
    ]
}