{
    "info" : [
        "Amber DNA parameters, OL15 variant",
        "Zgarbova et al. (2015) JCTC 11: 5723",
        "Perez et al. (2007) Biophys J. 92: 3817",
        "Wang et al. (2000) J. Comp. Chem. 21: 1049",
        "Parameter sets obtained from AmberTools v17"
    ], 
    "vdw_func" : "lj12_6_sig_epsilon", 
    "vdw_comb_rule" : "arithmetic/geometric", 
    "exclusions" : 4, 
    "es_scale" : [
        0.0,
        0.0,
        0.8333
    ], 
    "lj_scale" : [
        0.0,
        0.0,
        0.5
    ], 
    "plugins" : [
        "exclusions",
        "mass",
        "bonds",
        "angles",
        "vdw1",
        "propers",
        "impropers"
    ]
}