{
   "plugins" : ["bonds", "angles", "vdw1", "exclusions", "mass", "virtuals"],
   "vdw_comb_rule" : "ARITHMETIC/GEOMETRIC",
   "info" : ["tip4p-2005 4-site water model","Vega et al. (2005) J. Chem. Phys. 123, 234505"]
}
