{
    "info" : [
        "Amber mon- di- tri- and tetra- valent ion parameters for use with spce. Stable on Anton",
        "Li et al. (2015) J. Chem. Theory Comput., 11 (4), pp 1645-1657",
        "12-6 monovalent ions and 12-6 iod divalent ions for spce",
        "Parameter sets obtained from AmberTools v17"
    ], 
    "vdw_func" : "lj12_6_sig_epsilon", 
    "vdw_comb_rule" : "arithmetic/geometric", 
    "exclusions" : 4, 
    "es_scale" : [
        0.0,
        0.0,
        0.8333
    ], 
    "lj_scale" : [
        0.0,
        0.0,
        0.5
    ], 
    "plugins" : [
        "exclusions",
        "mass",
        "vdw1"
    ]
}