{
    "info" : [
        "Amber Lipid17 parameters",
        "Gould et al. (2018) in prep as 'Lipid17: A Comprehensive AMBER Force Field for the Simulation of Zwitterionic and Anionic Lipids'",
        "Parameter sets obtained from AmberTools v17"
    ], 
    "vdw_func" : "lj12_6_sig_epsilon", 
    "vdw_comb_rule" : "arithmetic/geometric", 
    "exclusions" : 4, 
    "es_scale" : [
        0.0,
        0.0,
        0.8333
    ], 
    "lj_scale" : [
        0.0,
        0.0,
        0.5
    ], 
    "plugins" : [
        "exclusions",
        "mass",
        "bonds",
        "angles",
        "vdw1",
        "propers",
        "impropers"
    ]
}