{
   "plugins" : ["bonds", "angles", "vdw1", "exclusions", "mass", "virtuals"],
   "vdw_comb_rule" : "ARITHMETIC/GEOMETRIC",
   "info" :["opc 4-site water model",
            "Izadi et al. (2014) J. Phys. Chem. Lett., 5 (21), pp 3863-3871"]
}
